header {
    background-color: #1e1e1e;
    height:500px;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0;
}

header img {
    position:absolute;
    top:0;
    left:50vw-width; 
    object-fit:cover;
    z-index:0;
    height:500px;
    margin:auto;
    
}


.top {
    z-index:2;
  
}

.star {
    color:orange;
}

.dotted {
    border-top: 2px dotted black;
}

header h1 {
    color:#1e1e1e;
    font-size:30px;
    margin-right:8px;
    text-shadow: 2px 2px orange;
    width:200px;
    margin-top: 50px;
    
}



#long-button {
    width:90vw;
    text-align:center;
    margin-top:20px;
    margin-left:2.5vw;
    margin-right:2.5vw;
    height:40px;
}

body {
    display:flex;
    flex-direction:column;
    background-color:rgb(186, 186, 186);
    margin:0;
}

.info {
    display:flex;
    flex-direction:row;
}

.why {
    display:flex;
    flex-direction:column;
    width:50vw;
    margin:5vw;
}


.why img {
    width:45vw;
}


/* ADD BUTTON ANIMATION FOR HOVER */
.donate {
    width:100px;
    height:60px;
    background-color:orange;
    border:none;
    font-style: bold;
    font-family: "Rubik", sans-serif;
    color:white;
    font-size:20px;
    border:5px solid orange;
    border-radius: 12px;
}

.donate:hover {
    background-color:rgb(186, 186, 186);
    color:black;
    
}

#moon-button:hover {
    background-color:rgba(0,0,0,0);
}

.list {
    text-align:left;
    display:flex;
    flex-direction:row;
    
}



.first {
    width:50%;
}

.sec2 {
    align-items:center;
    justify-content:center;
    text-align:center;
    display:flex;
}
.a119 {
    align-items:center;
    margin:auto;    
    width:90%;
}
.emailliist {
    width:45vw;
    margin:auto;
    padding-bottom:30px;
    text-align:center;
    display:flex;
    flex-direction:column;
   
}

.emailliist button {
    margin:auto;
}

.emailliist input[type="email"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid orange;
    border-radius: 8px;
    background-color: #f9f9f9;
    color: #1e1e1e;
    font-size: 18px;
}

.emailliist label {
    font-size: 20px;
}


.a1192 {
    width:45vw;
    margin:20px;
    text-align:center;
}




.reviews {
    display:flex;
    flex-direction:row;
}

.reviews div {
    width:30vw;
    margin:20px;
    background-color: white;
    padding:10px 20px 10px 20px;
    
}

a {
    color:white;
    text-decoration:none;
    
}

a:hover {
    color:black;
}
.revhead {
    text-align:center;
    
}

footer {
    text-align:center;
    background-color:orange;
    height:30px;
    
    
}

.footer-text {
    margin-top:7px;
}



@media screen and (max-width:800px) {
    .reviews {
        flex-direction:column;
    }

    .reviews div {
        width:80vw;
    }
}

@media screen and (max-width:615px) {
    .why {
        flex-direction:column-reverse;
    }

    .why div {
        width: 80vw;
    }

    

    .a119 {
        width:80vw;
    }

    .sec2 div {
        width:80vw;
        margin-left:7.5vw;
    }

    .sec2 {
        flex-direction:column;
    }
}


    
        
    
    
